*.aux
*.exo
*.o
*.g
*.e
*.g.*
*.e.*
.libs
Makefile
Makefile.bak
bin
etc
inc
share
/lib
/include
SEACAS-Test/*.g3
SEACAS-Test/baseline.gt
SEACAS-Test/baseline.mat
SEACAS-Test/baseline.t
src/libraries/exodus/cbind/test/*.res
src/libraries/exodus/forbind/test/*.res
src/libraries/exodus/CMakeCache.txt
src/libraries/exodus/CMakeFiles/
src/libraries/exodus/DartConfiguration.tcl
src/libraries/exodus/cbind/CMakeFiles/
src/libraries/exodus/cbind/CTestTestfile.cmake
src/libraries/exodus/cbind/cmake_install.cmake
src/libraries/exodus/cbind/include/exodus_cfg.h
src/libraries/exodus/cbind/test/CreateEdgeFace
src/libraries/exodus/cbind/test/testrd-long-name
src/libraries/exodus/cbind/test/testrd-nfaced
src/libraries/exodus/cbind/test/testwt-long-name
src/libraries/exodus/cbind/test/testwt-nfaced
src/libraries/exodus/cbind/test/CMakeFiles/
src/libraries/exodus/cbind/test/CTestTestfile.cmake
src/libraries/exodus/cbind/test/ExoIICTests
src/libraries/exodus/cbind/test/ExoIICTests.cxx
src/libraries/exodus/cbind/test/cmake_install.cmake
src/libraries/exodus/cbind/test/create_mesh
src/libraries/exodus/cbind/test/rd_wt_mesh
src/libraries/exodus/cbind/test/testall
src/libraries/exodus/cbind/test/testcp
src/libraries/exodus/cbind/test/testcp_ln
src/libraries/exodus/cbind/test/testcp_nl
src/libraries/exodus/cbind/test/testcpd
src/libraries/exodus/cbind/test/testrd
src/libraries/exodus/cbind/test/testrd-partial
src/libraries/exodus/cbind/test/testrd1
src/libraries/exodus/cbind/test/testrd_nc
src/libraries/exodus/cbind/test/testrd_ss
src/libraries/exodus/cbind/test/testrdd
src/libraries/exodus/cbind/test/testrdv
src/libraries/exodus/cbind/test/testrdwt
src/libraries/exodus/cbind/test/testwt
src/libraries/exodus/cbind/test/testwt-one-attrib
src/libraries/exodus/cbind/test/testwt-partial
src/libraries/exodus/cbind/test/testwt-zeroe
src/libraries/exodus/cbind/test/testwt-zeron
src/libraries/exodus/cbind/test/testwt1
src/libraries/exodus/cbind/test/testwt2
src/libraries/exodus/cbind/test/testwt_clb
src/libraries/exodus/cbind/test/testwt_nc
src/libraries/exodus/cbind/test/testwt_nossnsdf
src/libraries/exodus/cbind/test/testwt_ss
src/libraries/exodus/cbind/test/testwtd
src/libraries/exodus/cbind/test/testwtm
src/libraries/exodus/cbind/test/testrd-nsided
src/libraries/exodus/cbind/test/testwt-nsided
src/libraries/exodus/cbind/test/testwt-groups
src/libraries/exodus/cbind/test/testrd-groups
src/libraries/exodus/forbind/test/testall
src/libraries/exodus/forbind/test/testcp
src/libraries/exodus/forbind/test/testcpln
src/libraries/exodus/forbind/test/testcpnl
src/libraries/exodus/forbind/test/testrd
src/libraries/exodus/forbind/test/testrd1
src/libraries/exodus/forbind/test/testrd_nsid
src/libraries/exodus/forbind/test/testrdd
src/libraries/exodus/forbind/test/testwt
src/libraries/exodus/forbind/test/testwt1
src/libraries/exodus/forbind/test/testwt2
src/libraries/exodus/forbind/test/testwt_nsid
src/libraries/exodus/forbind/test/testwtd
src/libraries/exodus/forbind/test/testwtm
src/libraries/exodus/cmake_install.cmake
src/libraries/svdi/post/post.cps
src/libraries/svdi/post/post.eps
src/libraries/svdi/post/post.pst
src/libraries/svdi/post/post.x11
.deps
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.log
*.log.*
*~
src/libraries/zoltan/Utilities/Config/Config.SEACAS
src/libraries/zoltan/Utilities/Obj_SEACAS/
src/libraries/zoltan/Obj_SEACAS/
src/libraries/ioss/src/Trios_config.h
src/libraries/ioss/src/SEACASIoss_config.h
autom4te.cache
SNTools.project
*.cproject
*.project
*.settings
*ioss.doxygen.warn
*ioss.tags
TPL/cgns/CGNS/
TPL/hdf5/hdf5-*.tar.bz2/
TPL/hdf5/hdf5-*/
TPL/matio/matio/
TPL/netcdf/netcdf-c/
TPL/parallel/parallel-*/
TPL/parallel/parallel-*.tar.bz2
TPL/hdf5/hdf5-*.tar.bz2
TPL/pnetcdf/parallel-netcdf-*.tar.gz
TPL/pnetcdf/parallel-netcdf-*/
TPL/pnetcdf/pnetcdf-*.tar.gz
TPL/pnetcdf/pnetcdf-*/
build/
