#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
  -D SEACAS_ENABLE_ALL_PACKAGES:BOOL=ON \
  -D SEACAS_ENABLE_TESTS:BOOL=ON \
  -D BUILD_SHARED_LIBS:BOOL=ON \
  \
  -D TPL_ENABLE_CGNS:BOOL=OFF \
  -D TPL_ENABLE_Matio:BOOL=ON \
  -D TPL_ENABLE_METIS:BOOL=ON \
  -D TPL_ENABLE_ParMETIS:BOOL=ON \
  -D TPL_ENABLE_Netcdf:BOOL=ON \
  -D TPL_ENABLE_MPI:BOOL=OFF \
  -D TPL_ENABLE_Pamgen:BOOL=OFF \
  -D TPL_ENABLE_X11:BOOL=OFF \
  -D TPL_ENABLE_Zlib:BOOL=ON
