XCOMM $XConsortium: bsdLib.tmpl /main/3 1996/09/28 16:09:25 rws $

/*
 * NetBSD/FreeBSD shared library template
 */

#ifndef SharedXtReqs
#define SharedXtReqs /**/
#endif
#ifndef SharedXawReqs
#define SharedXawReqs /**/
#endif
#ifndef SharedXmuReqs
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB) $(XONLYLIB)
#endif
