# NOTE: This action requires write permissions to be set in your GitHub
#       repo/fork for it to be able to commit changes.
#
# This is currently enabled via:
#
#   settings > Actions > General > Workflow permissions
#
# which you will need to set to "Read and write permissions"
#

name: Clang Format Commit Changes

on: 
  workflow_dispatch:
  push:

concurrency:  
  group: ${{ github.workflow}}-${{ github.head_ref }}  
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  formatting-check:
    name: Commit clang-format changes
    runs-on: ubuntu-latest

    permissions:
        contents: write # In order to allow EndBug/add-and-commit to commit changes
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Fix C++ and C formatting issues detected by clang-format
      uses: DoozyX/clang-format-lint-action@v0.18.2
      with:
        source: 'packages/seacas'
        exclude: 'packages/seacas/doc-source'
        extensions: 'c,C,h,cpp,hpp'
        clangFormatVersion: 18
        inplace: True
        style: file

    - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
      with:
          author_name: github-actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'Committing clang-format changes'
