name: Python Linting
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
        with:
          egress-policy: audit

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Set up Python
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install pylint
      - name: Lint exodus.py
        run: |
          flake8 --ignore E501,W503 packages/seacas/scripts/exodus3.in.py
      - name: Lint exomerge.py
        if: success() || failure()
        run: |
          flake8 --ignore E501,W503,W504 packages/seacas/scripts/exomerge3.py
      - name: Lint exodus tests
        if: success() || failure()
        run: |
          flake8 --ignore E501,E402,W503,W605 packages/seacas/scripts/tests
