# This is a basic workflow to help you get started with Actions
name: SEACAS Spack build

# Controls when the action will run. Triggers the workflow on push
on:
  push:
    branches:
    - master

concurrency:  
  group: ${{ github.workflow}}-${{ github.head_ref }}  
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
      with:
        egress-policy: audit

    - name: Set up Spack
      uses: spack/setup-spack@5ab3c91bdefffffad9a7e45d1d156146afebb3a7 # v2.1.1
      with:
        ref: v0.22.2      # Spack version (examples: develop, releases/v0.21)
        buildcache: true  # Configure oci://ghcr.io/spack/github-actions-buildcache
        color: true       # Force color output (SPACK_COLOR=always)
        path: spack       # Where to clone Spack
    - run: |
       spack external find
       spack compiler find
       spack spec seacas@master~mpi
       spack install seacas@master~mpi
       spack find
       # spack spec seacas+mpi
       # spack install seacas+mpi
